@import "tailwindcss";

@theme inline {
  --color-bodrum-blue: #72B0DF;
  --color-bodrum-blue-dark: #125FA9;
  --color-bodrum-blue-light: rgba(114, 176, 223, 0.40);
  --color-charcoal: #22272B;
  --color-graphite: #343A40;
  --color-soft-gray: #F3F5F6;
  --color-medium-gray: #D8DDE1;
  --color-white: #FFFFFF;
}

@layer base {
  body {
    background-color: var(--color-white);
    color: var(--color-charcoal);
  }
}
